{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "accounts/css/accounts_forms.css" %}">
{% endblock additional_style %}

{% block content %}
<section id="register-user" class="full-page centralized-content">
    <div class="main-content text-center">
        <form class="form" method="POST" action="{% url "accounts:login" %}">
            {% csrf_token %}
            <p class="title">Entrar</p>
            <p class="message">Informe suas crêdencias para acessar nossos serviços </p>
                    
            <label>
                <input required="" name="email" placeholder="" type="email" 
                class="input" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                <span>Email</span>
            </label> 
                
            <label>
                <input required="" name="password" placeholder="" type="password" class="input">
                <span>Senha</span>
            </label>
            <button class="submit">Entrar</button>
            <p class="signin">Ainda não tem uma conta? <a href="{% url "accounts:register" %}">Registre-se</a> </p>
        </form>
    </div>
</section>
{% endblock content %}