{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "requerer/css/new_request.css" %}">
{% endblock additional_style %}

{% block content %}
    <section id="new-request" class="full-page centralized-content">
        <div class="main-content text-center">
            <form class="form" method="POST" action="{% url "requerer:new_request" %}">
                {% csrf_token %}
                <p class="title">Novo requerimento</p>
                <p class="message">Preencha seus dados com atenção para evitar erros</p>

                <label>
                    <input required="" name="full-name" type="text" value="{{form_values.name}}"
                    class="input" minlength="10">
                    <span>Nome completo</span>
                </label>
                <div class="flex">
                    <label>
                        <input required="" name="cpf" type="text"
                        class="input number" minlength="11" maxlength="11">
                        <span>CPF</span>
                    </label> 
                    <label>
                        <input required="" name="d-nascimento" type="date" value="{{form_values.d_nascimento}}"
                        class="input">
                        <span>Data de nascimento</span>
                    </label>
                    <label>
                        <select required="" name="sexo" class="input">
                            {% for value, text in forms_choices.sexo %}
                                <option value="{{value}}" {% if value == form_values.sexo %}selected{% endif %}>{{text}}</option>
                            {% endfor %}    
                        </select>
                        <span>Sexo</span>
                    </label>
                </div>  
                <div class="flex">
                    <label>
                        <input required="" name="rg" type="text" value="{{form_values.rg}}"
                        class="input number" minlength="3" maxlength="15">
                        <span>RG</span>
                    </label>
                    <label>
                        <input required="" name="emissor" type="text" value="{{form_values.emissor}}"
                        class="input" minlength="3" maxlength="8">
                        <span>Orão emissor RG</span>
                    </label>
                    <label>
                        <select required="" name="uf-rg" class="input">
                            {% for value, text in forms_choices.uf %}
                                <option value="{{value}}" {% if value == form_values.uf_rg %}selected{% endif %}>{{value}}</option>
                            {% endfor %}    
                        </select>
                        <span>UF RG</span>
                    </label>
                </div>
                <div class="flex">
                    <label>
                        <input required="" name="l-nascimento" type="text" value="{{form_values.l_nascimento}}"
                        class="input" minlength="10">
                        <span>Local nascimento</span>
                    </label>
                    <label>
                        <select required="" name="raca" class="input">
                            {% for value, text in forms_choices.raca %}
                                <option value="{{value}}" {% if value == form_values.raca %}selected{% endif %}>{{text}}</option>
                            {% endfor %}    
                        </select>
                        <span>Raça | cor</span>
                    </label>
                    <label>
                        <select required="" name="sangue" class="input">
                            {% for value, text in forms_choices.sangue %}
                                <option value="{{value}}" {% if value == form_values.sangue %}selected{% endif %}>{{text}}</option>
                            {% endfor %}    
                        </select>
                        <span>Tipo sanguinêo</span>
                    </label>
                </div>
                <div class="flex">
                    <label>
                        <input required="" name="n-mae" type="text" value="{{form_values.n_mae}}"
                        class="input">
                        <span>Nome da mãe</span>
                    </label>
                    <label>
                        <input name="n-pai" type="text" value="{{form_values.n_pai}}"
                        class="input">
                        <span>Nome do pai</span>
                    </label> 
                </div>
                <div class="flex">
                    <label>
                        <select required="" name="t-cid" class="input">
                            {% for value, text in forms_choices.cid %}
                                <option value="{{value}}" {% if value == form_values.t_cid %}selected{% endif %}>{{text}}</option>
                            {% endfor %}    
                        </select>
                        <span>tipo de CID</span>
                    </label>
                    <label>
                        <input name="cid" required="" type="text" class="input" minlength="3" value="{{form_values.cid}}">
                        <span>CID</span>
                    </label> 
                    <label>
                        <select required="" name="deficiencia" class="input">
                            {% for value, text in forms_choices.deficiencia %}
                                <option value="{{value}}" {% if value == form_values.deficiencia %}selected{% endif %}>{{text}}</option>
                            {% endfor %}    
                        </select>
                        <span>Deficiência</span>
                    </label>
                    <label>
                        <input required="" name="telefone" type="tel" value="{{form_values.telefone}}"
                        class="input number" minlength="11" maxlength="11">
                        <span>Telefone</span>
                    </label> 
                </div>
                <div class="flex">
                    <label>
                        <input required="" name="cep" type="text" value="{{form_values.cep}}"
                        class="input number" minlength="8" maxlength="8">
                        <span>CEP</span>
                    </label>
                    <label>
                        <input name="logradouro" required="" type="text" value="{{form_values.logradouro}}"
                        class="input">
                        <span>Logradouro</span>
                    </label>
                    <label>
                        <input required="" name="numero" type="text" value="{{form_values.numero}}"
                        class="input">
                        <span>N°</span>
                    </label>
                </div>
                <div class="flex">
                    <label>
                        <input required="" name="cidade" type="text" value="{{form_values.cidade}}"
                        class="input">
                        <span>Cidade</span>
                    </label>
                    <label>
                        <input name="bairro" required="" type="text" value="{{form_values.bairro}}"
                        class="input">
                        <span>Bairro</span>
                    </label>
                    <label>
                        <select required="" name="uf-endereco" class="input">
                            {% for value, text in forms_choices.uf %}
                                <option value="{{value}}" {% if value == form_values.uf_endereco %}selected{% endif %}>{{value}}</option>
                            {% endfor %}    
                        </select>
                        <span>UF</span>
                    </label> 
                </div>
                <label>
                    <input name="complemento" type="text" value="{{form_values.complemento}}"
                    class="input">
                    <span>Complemento</span>
                </label>
                
                <button class="submit">Enviar</button>
            </form>
        </div>
    </section>
{% endblock content %}
{% block additional_script %}
    <script src="{% static "requerer/js/new_request.js" %}"></script>
{% endblock additional_script %}